

<style>
    .bgimage {
        height: 100vh;
        background: url('https://www.pixelstalk.net/wp-content/uploads/2016/04/Fantasy-Lake-Landscape-Wallpaper-Picture.jpg');
        background-size: cover;
        width: auto;
        position: relative;
    }
    /* about section image css */
    .imageAboutPage {
        width: 100%;
    }
    /* text css above hero image*/
    .hero_title {
        font-size: 4.5rem;
    }

    .hero_desc {
        font-size: 2rem;
    }
    .servicesText.card {
        height: 280px;
        cursor: pointer;
    }

    .servicesIcon {
        font-size: 36px;
        text-align: center;
        width: 100%;
    }

    .card-title {
        text-align: center;
    }

    .card:hover .servicesIcon {
        color: #008000;
    }

    .servicesText:hover {
        border: 1px solid #008000;
    }
    .navbarScroll.navbarDark {
        background-color: black;
    }
    .social-icons {
        font-size: 36px;
        cursor: pointer;
    }

    .fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-twitch:hover {
        color: #008000;
    }
    #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}

    .fab {
        color: #000000;
    }
    /* footer styling */
    #footer {
        background-color: #808080;
        text-align: center;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
</style>





<section id="about">
    <div class="container mt-4 pt-4">
        <h1 class="text-center">About Me</h1>
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="images/about.jpeg" class="imageAboutPage" alt="">
            </div>

            <div class="col-lg-8">
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged

                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li>Name: Shpejtim Isahu</li>
                            <li>Occupation: Web Developer</li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Name: Shpejtim Isahu</li>
                            <li>Occupation: Web Developer</li>

                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <p>
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
            </div>
        </div>
</section>
<section id="services">
    <div class="container">
        <h1 class="text-center">Services</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class="fas servicesIcon fa-clock"></i>
                        <h4 class="card-title mt-3">Website Development</h4>
                        <p class="card-text mt-3">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-layer-group'></i>
                        <h4 class="card-title mt-3">Website Design</h4>
                        <p class="card-text mt-3">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='far servicesIcon fa-check-circle'></i>
                        <h4 class="card-title mt-3">Website Deployment</h4>
                        <p class="card-text mt-3">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-search'></i>
                        <h4 class="card-title mt-3">SEO</h4>
                        <p class="card-text mt-3">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-shield-alt'></i>
                        <h4 class="card-title mt-3">DevOps</h4>
                        <p class="card-text mt-3">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-wrench'></i>
                        <h4 class="card-title mt-3">QA</h4>
                        <p class="card-text mt-3">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container mt-3">
        <h1 class="text-center">Portfolio</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.mos.cms.futurecdn.net/8gzcr6RpGStvZFA2qRt4v6.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">YouTube Clone</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="http://advantagesofquizupclone.yolasite.com/resources/6.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Quiz App</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="https://elements-cover-images-0.imgix.net/f98286e4-b471-424d-a92b-1a1a74822d86?auto=compress&crop=edges&fit=crop&fm=jpeg&h=630&w=1200&s=a135802b7846fcc7e6d98f68c5004316" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Product Landing Page</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="https://chromeunboxed.com/wp-content/uploads/2020/01/googleMessagingPlatformEnterprise.jpg?w=640" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Messaging Service</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="https://vuejsexamples.com/content/images/2021/08/Full-Stack-Twitter-Clone.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Twitter Clone</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="https://assets.materialup.com/uploads/fd152011-ac2a-4461-a315-348c25e36956/preview.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Blog App</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<footer id="footer">
    <div class="container-fluid">
        <!-- social media icons -->
        <div class="social-icons mt-4">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.twitch.tv/" target="_blank"><i class="fab fa-twitch"></i></a>
        </div>
        <button class="w3-button w3-light-grey w3-padding-large w3-section">
            <i class="fa fa-download"></i> Download Resume
        </button>
    </div>
</footer>

<script>
    const header = document.querySelector('.navbar');

    window.onscroll = function () {
        var top = window.scrollY;
        if (top >= 100) {
            header.classList.add('navbarDark');
        }
        else {
            header.classList.remove('navbarDark');
        }
    }
</script>